//colors
$main-color: #1CD;
$sub-color: #09A;
$black: #111;
$dark-grey: #444;
$light-grey: #CCC;
$white: #FFF;

//fonts
$font: Trebuchet MS, sans-serif;
$subfont: Andale Mono, monospace;

//page
$page-padding: 60px 40px;