.shop-select {
    width: 100%;
    height: 50vh;

    padding: $page-padding;

    display: flex;
    justify-content: center;
    flex-direction: column;

    input {
        width: 100px;
    }

    button {
        width: 200px;

        margin-top: 40px;
    }
}