.home-video {
    width: 100%;
    height: 80vh;

    padding: $page-padding;

    display: flex;
    align-items: center;
    justify-content: center;

    iframe {
        width: 60%;
        height: 60vh;
    }
}